/*============= Main Font Arabic ==========*/

@import url('https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@100..900&display=swap');
:root {
    --main-font: "Noto Kufi Arabic", sans-serif;
    --heading-font: "Noto Kufi Arabic", sans-serif;
}

body {
    font-family: var(--main-font);
}


/* ========== responsive navbar ========= */

@media screen and (max-width: 1399px) {
    .navbar .navbar-link {
        font-size: 1.4rem;
    }
}


/* ===== about ====== */

.about .about-content h2 {
    font-size: 2.5rem;
    line-height: 1.65;
}

.about .about-content h2:last-of-type {
    font-size: 2.3rem;
}

@media (min-width: 1200px) {
    .about-shape-3 {
        top: -20px;
        right: -100px;
        z-index: -1;
        transform: translate(100px, 0);
    }
}


/* ========== responsive hero  ========= */

@media screen and (max-width: 1300px) {
    .hero-content .section-n {
        font-size: 4.7rem;
    }
}

@media screen and (max-width: 991px) {
    .hero-content .section-n {
        font-size: 3rem;
    }
}

.services_card .content {
    text-align: right;
    padding-right: 1rem;
    padding-left: 0;
}

.contactForm form {
    width: 100% !important;
}

.moreInfo {
    top: 100% !important;
    right: 0 !important;
}

@media screen and (max-width: 700px) {
    .about .about-content h2:last-of-type {
        font-size: 2rem;
    }
}

@media screen and (max-width: 500px) {
    .about .about-content h2 {
        font-size: 1.7rem;
    }
    .about .about-content h2:last-of-type {
        font-size: 1.5rem;
    }
}

.news-card .card-btn {
    left: 30px;
    right: auto;
}


/* =========== media for shape-2 ========== */

@media screen and (min-width: 1400px) {
    .about-shape-2 {
        display: block;
        left: auto;
        animation: bounce 2.5s infinite;
        z-index: 22;
        right: 60%;
        top: 40%;
    }
}

@media screen and (max-width: 1399px) {
    .about-shape-2 {
        display: block;
        left: auto;
        animation: bounce 2.5s infinite;
        z-index: 22;
        right: 62%;
        top: 35%;
    }
}

@media screen and (max-width: 991px) {
    .about-shape-2 {
        display: block;
        left: auto;
        animation: bounce 2.5s infinite;
        z-index: 22;
        right: 48%;
        top: 28%;
    }
}

@media screen and (max-width: 400px) {
    .about-shape-2 {
        display: block;
        left: auto;
        animation: bounce 2.5s infinite;
        z-index: 22;
        right: 0;
        top: 0;
        ;
    }
}

.icon {
    text-align: right;
}

#tns1-iw {
    margin: 0px;
    direction: ltr;
}

.sticker1 {
    left: 40%;
    z-index: 333;
}

@media screen and (max-width: 1445px) {
    .sticker1 {
        left: 30%;
        z-index: 333;
    }
}

@media screen and (max-width: 1199px) {
    .sticker1 {
        left: 18%;
        z-index: 333;
    }
}

@media screen and (max-width: 940px) {
    .sticker1 {
        left: 10%;
        z-index: 333;
    }
}

@media screen and (max-width: 767px) {
    .sticker1 {
        margin-top: 100px;
        margin-left: 70px;
        left: 0%;
    }
}

@media screen and (max-width: 450px) {
    .about-shape-2 {
        display: none;
    }
}

@media screen and (max-width: 390px) {
    .sticker1 {
        margin-top: 132px;
        margin-left: 0px;
        left: 0%;
    }
}