{% extends 'base.html' %} {% load i18n %} {% load static %}

<!-- ======== css_style ========= -->
{% block css_style %}
<link rel="stylesheet" href="{% static 'assets/css/about.css' %}" />
<!-- ==== -->
{% endblock css_style %}
<!-- ======= content ========= -->
{% block body %}

<main>
  <!-- ======= set page in breadcrumb ========= -->
  {% with page_title="About" %}
  <!-- ======= breadcrumb ========= -->
  {% include 'components/breadcrumb.html' %} {% endwith %}

  <!-- ======= about us ========= -->
  {% include 'components/about.html' %}

  <!-- ======= services ========= -->
  {% include 'components/services.html' %}
</main>

{% endblock body %}
