{% extends 'base.html' %} {% load static %} {% load i18n %} {% block body %}

<!-- display data -->

<div class="contin">
  <div class="service-section">
    <div class="skewed">
      <div class="txt">
        {% if request.LANGUAGE_CODE == 'ar' %}
        <!-- display arabic -->
        <h1>{{ section.section_title_ar}}</h1>
          <!-- display english -->
          {% else %}
        <h1>{{ section.section_title_en}}</h1>

         <!-- end check -->

         {% endif %}
        {% if request.LANGUAGE_CODE == 'ar' %}
        <!-- display arabic -->
        <p>{{ section.description_ar }}</p>
        <!-- display english -->
           
        {% else %}
        <p>{{ section.description_en }}</p>
          <!-- end check -->
          {% endif %}

      </div>
      <div class="imgback">
        <img src="{% static 'images/Thinking face-cuate.svg' %}" alt="img" />
      </div>
    </div>
    {% for level in levels %}
    <div class="cards">
      <div class="card">
        <div class="content">
     {% if request.LANGUAGE_CODE == 'ar' %}
            <!-- display arabic -->
          <h3>{{ level.level_title_ar }}</h3>
          <!-- display english -->
       {% else %}
      
          <h3>{{ level.level_title_en }}</h3>

         <!-- end check -->
         
     {% endif %}
     <div class="scroll-bg">
      <div class="scroll-div">
        
     {% if request.LANGUAGE_CODE == 'ar' %}
    <!-- display arabic -->
    <p>{{ level.level_description_ar }}</p>
    <!-- display english -->
 {% else %}

    <p>{{ level.level_description_en }}
      </p>
      <!-- end check -->
         
      {% endif %}
   </div></div>
        <a href="#" class="btn has-before">
            <span class="span">video</span>
            <ion-icon
              name="arrow-forward-outline"
              aria-hidden="true"
            ></ion-icon>
          </a>
        </div>
      </div>
    {% endfor %}
  </div>  
  </div>
</div>
{% endblock body %}
