{% extends 'base.html' %} {% load static %} {% load i18n %} {% block body %}

<!-- ======= set page in breadcrumb ========= -->
{% with page_title=section.section_title_en %}
<!-- ======= breadcrumb ========= -->
{% include 'components/breadcrumb.html' %} {% endwith %}

<div class="container">
  <div class="service-section pt-7">
    <div class="skewed" data-aos="zoom-in-down">
      <div class="card card_section mb-3">
        <div class="row g-0">
          <div class="col-md-4">
            <img
              src="{{ section.pictureSection.url }}"
              alt="{{ section.section_title_en }}"
              class="section_img"
            />
          </div>
          <div class="col-md-8">
            {% if request.LANGUAGE_CODE == 'ar' %}
            <!-- display ar -->
            <div class="card-body">
              <h1>{{ section.section_title_ar}}</h1>
              <p>{{ section.description_ar }}</p>
            </div>
            {% else %}
            <!-- display en -->
            <div class="card-body">
              <h1>{{ section.section_title_en}}</h1>
              <p>{{ section.description_en }}</p>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- =============== levels ================= -->
<section class="levels_parent">
  <div class="container">
    <div class="level_head text-center">
      <span class="sub_heading"> {% trans "Levels " %} </span>
      <h3>{% trans "Levels " %}</h3>
    </div>
    <div class="row">
      {% for level in levels %}
      <div class="col-lg-4 cards" data-aos="fade-up">
        <div class="card">
          {% if request.LANGUAGE_CODE == 'ar' %}
          <!-- display ar -->
          <div class="content">
            <h3>{{ level.level_title_ar }}</h3>
            <div class="scroll-bg">
              <div class="scroll-div">
                <p>{{ level.level_description_ar }}</p>
              </div>
            </div>
            <!-- to display video -->
            <button
              type="button"
              class="btn has-before"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
              {% if level.video %}
              data-video-src="{{ level.video.url }}"
           
              {% else %}
              disabled
              {% endif %}
            >
              <span class="span">{% trans "Video" %}</span>
              <i class="bx bx-right-arrow-alt"></i>
            </button>
          </div>
          {% else %}
          <!-- display en -->
          <div class="content">
            <h3>{{ level.level_title_en }}</h3>
            <div class="scroll-bg">
              <div class="scroll-div">
                <p>{{ level.level_description_en }}</p>
              </div>
            </div>
            <!-- to display video -->
            <button
              type="button"
              class="btn has-before"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
              data-video-src="{{ level.video.url }}"
            >
              <span class="span">{% trans "Video" %}</span>
              <i class="bx bx-right-arrow-alt"></i>
            </button>
          </div>
          {% endif %}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

  <!-- ======= Video Modal ======= -->
  <div
    class="modal fade model-video fade modal-dialog modal-dialog-centered"
    id="exampleModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">
            {% trans "Video" %}
          </h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <video width="100%" height="auto" controls id="videoPlayer">
            <source src="" type="video/mp4" />
          </video>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  let modalButtons = document.querySelectorAll('[data-bs-toggle="modal"]');
  let videoPlayer = document.getElementById("videoPlayer");

  modalButtons.forEach(function (button) {
    button.addEventListener("click", function () {
      let videoSrc = this.getAttribute("data-video-src");
      videoPlayer.querySelector("source").setAttribute("src", videoSrc);
      videoPlayer.load();
    });
  });

  document
    .querySelector('[data-bs-dismiss="modal"]')
    .addEventListener("click", function () {
      videoPlayer.pause();
    });
</script>

{% endblock body %}
