{% extends 'base.html' %} {% load static %} {% load i18n %} {% block body %}

<!-- display data -->

<!-- ======= set page in breadcrumb ========= -->
{% with page_title=news_id.news_title_en %}
<!-- ======= breadcrumb ========= -->
{% include 'components/breadcrumb.html' %} {% endwith %}

<!-- ======== content =========== -->
<section class="news_details">
  <div class="news_container">
    <div class="head">
      <div class="date">
        <i class="fa-solid fa-calendar-days"></i>
        <span>{{ news_id.created_at|date:"d M Y" }}</span>
      </div>
      <h1>{{news_id.news_title_en}}</h1>
    </div>
    <div class="center">
      <img src="{{news_id.newsImage.url}}" alt="{{news_id.news_title_en}}" />
      <div class="description">
        <div class="date">
          <i class="fa-solid fa-calendar-days"></i>
          <span>{{ news_id.created_at|date:"d M Y" }}</span>
        </div>
        <h3>{{news_id.news_title_en}}</h3>
        <p>{{news_id.news_desc_en}}</p>
      </div>
    </div>
  </div>
</section>

{% endblock body %}
