{% load static %}{% load i18n %}

<footer
  class="footer"
  style="background-image: url('{% static 'assets/images/footer-bg.png' %}')"
>
  <div class="footer-top section">
    <div class="container grid-list">
      <a href="#" class="logo">
        <img
          src="{% static 'assets/images/logo-light.png' %}"
          width="162"
          height="50"
          alt="logo"
        />
      </a>
      <div class="footer-brand">
        <p class="footer-brand-text">Always up to date with us</p>
        <div class="wrapper">
          <span class="span">Call:</span>
          <a href="tel:++963 09938  890" class="footer-link">+963 09938 890</a>
        </div>
        <div class="wrapper">
          <span class="span">Email:</span>
          <a href="mailto:info@eweb.com" class="footer-link">info@web.com</a>
        </div>
      </div>
      <ul class="footer-list">
        <li>
          <a href="#about" class="footer-link">About</a>
        </li>
        <li>
          <a href="#news" class="footer-link">Events</a>
        </li>
      </ul>
      <div class="footer-list">
        <p class="footer-list-title">Contacts</p>
        <p class="footer-list-text">subscribe our socialmedia links</p>
        <ul class="social-list">
          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-facebook"></ion-icon>
            </a>
          </li>
          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-linkedin"></ion-icon>
            </a>
          </li>
          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-instagram"></ion-icon>
            </a>
          </li>
          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-twitter"></ion-icon>
            </a>
          </li>
          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-youtube"></ion-icon>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
