{% load static %} {% load i18n %}

<section class="section hero has-bg-image" id="home" aria-label="home">
    <div class="container">
        {%for contact in contact_info %}

        <a href="{{contact.WhatsUp_url}}">
            <img src="{% static 'images/WhatsApp.webp' %}" width="120" height="70" loading="lazy" alt="call us " class="shape about-shape-2" />
        </a>
        {%endfor %}
        <img src="{% static 'images/bose.webp' %}" width="150" height="150" loading="lazy" alt="" class="sticker1" />
        <div class="hero-content" data-aos="fade-right">
            <span class="sub_heading">
                {% trans "EXCELLENCE IN EDUCATION" %}
            </span>
            <h2 class="section-n">
                {% trans "Start Better Languages Future From Here" %}
            </h2>

            <p class="hero-text">
                <h5 class="h2 section-title">
                    {% trans "update your" %}
                    <span class="span">
                        {% trans "skills"%}
                    </span>
                </h5>
                <h5 class="h2 section-title">
                    {% trans "update your"%}
                    <span class="span">
                        {% trans "reality"%} 
                    </span>
                </h5>
            </p>
       
        </div>

        <figure class="hero-banner" data-aos="fade-left">

            <div class="img-holder one" style="--width: 270; --height: 300;">
                <img src="{% static 'images/hero-banner-1.webp' %}" width="270" height="300" alt="hero banner" class="img-cover">
            </div>

            <div class="img-holder two" style="--width: 240; --height: 370;">
                <img src="{% static 'images/hero-banner-2.webp' %}" width="240" height="370" alt="hero banner" class="img-cover">
            </div>

            <img src="{% static 'images/hero-shape-2.webp' %}" width="622" height="551" alt="" class="shape hero-shape-2">
        </figure>
    </div>
</section>