{% load static %} {% load i18n %}

<section class="section news has-bg-image" id="news" aria-label="news">
  <div class="container">
    <div class="news_head text-center">
      <h6 class="sub_heading">{% trans "Our Blog" %}</h6>
      <h2 class="h2 section-title">{% trans "Our Blog" %}</h2>
    </div>
    <ul class="grid-list">
      {% for item in news %}
      <li>
        <div class="news-card">
          <figure
            class="card-banner img-holder has-after"
            style="--width: 370; --height: 370"
          >
            <img
              src="{{item.image_url}}"
              width="370"
              height="370"
              loading="lazy"
              alt="new course"
              class="img-cover"
            />
          </figure>
          {% if request.LANGUAGE_CODE == 'ar' %}
          <!-- display ar -->
          <div class="card-content">
            <a
              href="{% url 'news_details' news_id=item.id%}"
              class="card-btn"
              aria-label="read more"
            >
              <i class="bx bx-right-top-arrow-circle"></i>
            </a>
            <h3 class="h3">
              <a
                href="{% url 'news_details' news_id=item.id%}"
                class="card-title"
                >{{ item.news_title_ar }}</a
              >
            </h3>

            <ul class="card-meta-list">
              <li class="card-meta-item">
                <i class="bx bx-calendar"></i>
                <span class="span">{{ item.news_date }}</span>
              </li>
              <li class="card-meta-item">
                <i class="bx bx-book-content"></i>
                <span class="span">{{ item.lessonsNum }}</span>
              </li>
            </ul>
            <p class="card-text">{{ item.news_desc_ar }}</p>
          </div>
          {% else %}
          <!-- display en -->
          <div class="card-content">
            <a
              href="{% url 'news_details' news_id=item.id%}"
              class="card-btn"
              aria-label="read more"
            >
              <i class="bx bx-right-top-arrow-circle"></i>
            </a>
            <h3 class="h3">
              <a
                href="{% url 'news_details' news_id=item.id%}"
                class="card-title"
                >{{ item.news_title_en }}</a
              >
            </h3>

            <ul class="card-meta-list">
              <li class="card-meta-item">
                <i class="bx bx-calendar"></i>
                <span class="span">{{ item.news_date }}</span>
              </li>
              <li class="card-meta-item">
                <i class="bx bxs-book"></i>
                <span class="span">{{ item.lessonsNum }}</span>
              </li>
            </ul>
            <p class="card-text">{{ item.news_desc_en }}</p>
          </div>
          {% endif %}
        </div>
      </li>
      {% endfor %}
    </ul>
    <img
      src="{% static 'images/bose.webp' %}"
      width="186"
      height="186"
      loading="lazy"
      alt=""
      class="Sticker"
    />
  </div>
</section>
