{% load i18n %} {% load static %}

<section class="services pt-7 text-center">
  <div class="container">
    <h6 class="sub_heading">{% trans "Services" %}</h6>
    <h3>{% trans "Services" %}</h3>
    <div class="services_content">
      <div class="services-slide">
        {% for service in services %} {% if request.LANGUAGE_CODE == 'ar' %}
        <div class="services_card">
          <div class="icon">
            <i class="bx bx-layer"></i>
          </div>
          <div class="content">
            <h4>{{service.title_ar}}</h4>
            <p>{{service.description_ar}}</p>
          </div>
        </div>
        {% else %}
        <div class="services_card">
          <div class="icon">
            <i class="bx bx-layer"></i>
          </div>
          <div class="content">
            <h4>{{service.title_en}}</h4>
            <p>{{service.description_en}}</p>
          </div>
        </div>
        {% endif %} {% endfor %}
      </div>
    </div>
  </div>
</section>
