{% load static %} {% load i18n %}
<section
  class="video has-bg-image"
  aria-label="video"
  style="background-image: url('{% static 'images/video-bg.webp' %}')"
>
  <h2 class="h2 section-title" data-aos="zoom-in">
    Online <span class="span">Classes</span> For Remote Learning
  </h2>
  <div class="container">
    <div class="video-card" data-aos="fade-up">
      <div
        class="video-banner img-holder has-after"
        style="--width: ; --height: "
      >
        <img
          src="{% static 'images/video-banner.webp' %}"
          width="970"
          height="550"
          loading="lazy"
          alt="video banner"
          class="img-cover"
        />
        <button class="play-btn" aria-label="play video">
          <i class="bx bx-play"></i>
        </button>
      </div>
      <img
        src="{% static 'images/video-shape-1.webp' %}"
        width="1089"
        height="605"
        loading="lazy"
        alt=""
        class="shape video-shape-1"
      />
    </div>
  </div>
</section>
