{% load static %} {% load i18n %}
<section
  class="video has-bg-image"
  aria-label="video"
  style="background-image: url('{% static 'images/video-bg.webp' %}')"
>
  <h2 class="h2 section-title" data-aos="zoom-in">
    Online <span class="span">Classes</span> For Remote Learning
  </h2>
  <div class="container">
    <div class="video-card" data-aos="fade-up">
      <div class="video-banner img-holder has-after">
        <video id="video" controls>
          <source src="{% static 'images/Trim.mp4' %}" type="video/mp4" />
        </video>
        <button
          id="playButton"
          type="button"
          class="play-btn"
          aria-label="play video"
        >
          <i class="bx bx-play"></i>
        </button>
      </div>
    </div>
  </div>
</section>
